body{
	background-color:#f2f2f2;
	color:#333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header-section nav{
    background: #0581ED;
    color: #fff;
    border: none;
    border-radius: 0;
}
#header-section .navbar-default .navbar-brand,#header-section .navbar-default .navbar-nav>li>a{
color:#fff;
}
#header-section .navbar-default .navbar-nav>li>a{
    border-right: 1px solid #fff;
}
#header-section .navbar-default .navbar-nav>li>a:hover{

color:#ddd;
}
#header-section .navbar-default .navbar-nav>li:last-child>a{
    border-right: none;
}
#header-section .navbar-default .navbar-brand{
font-size:20px;
}
.heading-top h2 {
       margin: 5px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
text-align: center;
}
#footer-section{
	position: fixed;
    bottom: 0;
    width: 100%;
    height:40px;
    background-color: #000;
	padding:5px 0;
	margin-top:10px;
}
.content_wrapper{
	padding-bottom:60px;
	overflow:hidden;
}
.ust-logo{
width:100px;
}
.copy-txt{
    margin: 0;
    vertical-align: middle;
    color: #fff;
    line-height: 30px;
	font-size:12px;
}
.attach_button {
    position:absolute;
	top: 50%;
	left:45%;
	z-index:999;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	
}
.spinner_div{
	position:absolute;
	top: 50%;
	left:45%;
	z-index:999;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	
}
.attach_warp .btn{
background:#007dc1;
color:#fff;
border-radius:0;
}
.attach_warp .btn .fa-upload{
padding-right:5px;
}
.btn-right{
float:right;
margin-right: 15px;
}
.margin_left{
	margin-left:29%;
}
#gallery_carousel .carousel-control.right,#gallery_carousel .carousel-control.left{
	background:none
}
#gallery_carousel {
	margin-bottom:15px;
	
}
.btn-default.btn_style{
	background: #007dc1;
    color: #fff;
    border-radius: 0;
    margin-bottom:10px;
}
.btn_style .fa{
	margin-right:5px;
}
#extract_wrap{
	margin-top:10px

	
}
.extract_tble,.attr_tbl{
	margin-bottom:0
}
.extract_tble td:first-child,.attr_tbl td:first-child,.attr_tbl td:nth-child(3){
	width:20%;
	
}

.tble_cntr{
	min-height:200px;
	height:500px;
	overflow:hidden;
	overflow-y:scroll;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.extract_tble tbody td,.attr_tbl tbody td{
background:#fff;
}
.extract_tble tbody td:first-child,.attr_tbl thead{
	background: #007dc1;
color: #fff;
font-weight: bold;

}

.tble_cntr::-webkit-scrollbar {
    background: #ddd;
    width: 6px;
}
.tble_cntr::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #a3a3a3; 
    -webkit-box-shadow: #a3a3a3; 
}
#gallery_carousel .item img{
	margin:0 auto;
	height:400px
}
.ocr-spinner-outer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100000;
	background-color: #d3d3d3;
	opacity: 0.6;
}

.ocr-spinner-gif {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -50px;
	margin-top: -50px;
	display: block;
}