<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="images/favicon.ico">
		<title>Smart Profiler</title>		
		
	</head>
	<body>
		<header id="header-section">
				<div class="container-fluid">
					<div class="row">
						<nav class="navbar navbar-default">
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <a class="navbar-brand logo_txt" href="#">Smart<span>Profiler</span></a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
						   <ul class="nav navbar-nav navbar-right">
							<li class="profile_item">Welcome Nithin</li>
							<li><a href="#"> Setting</a></li>
							<li><a href="#">Logout</a></li>
						  </ul>
						 
						</div>
						</nav>
					</div>
				</div>
		</header>
		<section id="container-section">
		<div class="container-fluid">
		<div class="row">
			<div class="top_wrap " >
			<div class="center_content_wrap" >
				 <div class="col-md-4">
					<div class="panel panel-default content_box box-shadow">
						<div class="panel-body">
							<div class="upload_img_wrap">
								<img src="images/noimage.png" class="img-responsive">
								<label class="upld_btn"><i class="fa fa-plus" aria-hidden="true"></i><input id="imagefile" type="file" style="display: none;" multiple="multiple"></label>
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-default btn_upld">Profile Product</button>
						</div>
					</div>
				 </div>
				  <div class="col-md-4">
					<div class="panel panel-default content_box box-shadow">
						<div class="panel-body">
							<div>
								<img src="images/noimage.png" class="img-responsive">
								
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-default btn_upld">My Product</button>
						</div>
					</div>
				 </div>
				
			</div>
			</div>
			</div>
			</div>
		</section>
			
		<footer id="footer-section">
			<div class="col-md-8">
				<p class="copy-txt">Copyright &copy; Samrt Profiler 2016</p>
			</div>
			<div class="col-md-4">
			<div class="pull-right">	
				<img src="images/ust_logo.png" alt="" class="img-responsive ust-logo">
			</div>
			</div>
		</footer>
	<script src="js/jquery-1.11.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
	</body>
</html>