<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Smart OCR - My Tasks</title>
</head>
<body>
<div id="wrapper" >
<!-- Navigation -->
<header id="header-section">
		<div class="container-fluid">
			<div class="row">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							>
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<a class="navbar-brand logo_txt">Smart<span>OCR</span></a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="./#/multiOCR">Home</a></li>
							<li><a href="./#/myTasks"> My Tasks</a></li>
						    <li><a href="./#/completedTasks">Completed Tasks</a></li>							
						</ul>

					</div>
				</nav>
			</div>
		</div>
	</header>
<div class="content_wrapper">
	<section id="container-section">
		
		<div class="attach_warp attach_button" id="bn-item" >
			<a class="btn btn-default btn-file"  ng-click="mtcvm.getMyTasks()" role="button"><i class="fa fa-tasks" aria-hidden="true"></i>Get My Tasks</a>
			
		</div>
<div id="page-wrapper">

<div class="container-fluid">
	<div class="row">		
		<div id="alertSuccess" class="alert alert-success">Succesfully updated!!</div>
		<div id="alertError" class="alert alert-danger">No more tasks assigned!!</div>		
	</div>
	<div id="mainPallete" class="row">
		<div class="col-lg-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Image</h3>
				</div>
				<div class="panel-body">
					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol class="carousel-indicators">
							<li ng-repeat="picFile in mtcvm.imagesArray" data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="picFile"></li>						
						</ol>
						<!-- Wrapper for slides -->
						<div class="carousel-inner" role="listbox">
							<div class="item active">
								<img src="data:image/png;base64,{{mtcvm.myTask.image}}"
									class="img-responsive" alt="Responsive image">
							</div>
							<div class="item" ng-if="mtcvm.myTask.backImage != undefined && mtcvm.myTask.backImage != null">
								<img src="data:image/png;base64,{{mtcvm.myTask.backImage}}"
									class="img-responsive" alt="Responsive image">
							</div>
							<div class="item" ng-if="mtcvm.myTask.rightImage != undefined && mtcvm.myTask.rightImage != null">
								<img src="data:image/png;base64,{{mtcvm.myTask.rightImage}}"
									class="img-responsive" alt="Responsive image">
							</div>
							<div class="item" ng-if="mtcvm.myTask.leftImage != undefined && mtcvm.myTask.leftImage != null">
								<img src="data:image/png;base64,{{mtcvm.myTask.leftImage}}"
									class="img-responsive" alt="Responsive image">
							</div>
							<div class="item" ng-if="mtcvm.myTask.topImage != undefined && mtcvm.myTask.topImage != null">
								<img src="data:image/png;base64,{{mtcvm.myTask.topImage}}"
									class="img-responsive" alt="Responsive image">
							</div>
						</div>

						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-8">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Convert Texts</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-hover">
							<tbody>
								<tr>
									<th>OCR Id</th>
									<td><input class="form-control"
										ng-model="mtcvm.myTask.request.smartOcrId"
										value="{{mtcvm.myTask.smartId}}" readonly="readonly" /></td>
								</tr>
								<tr>
									<th>UPC</th>
									<td><input class="form-control"
										ng-model="mtcvm.myTask.request.id" value="{{mtcvm.myTask.request.id}}"
										readonly="readonly" /></td>
								</tr>
								<tr>
									<th>Front Text</th>
									<td><textarea class="form-control" rows="4" ng-model="mtcvm.myTask.request.frontText"></textarea></td>
								</tr>								
								<tr>
									<th>Back Text</th>
									<td><textarea class="form-control" rows="4" ng-model="mtcvm.myTask.request.backText"></textarea></td>
								</tr>
								<tr>
									<th>Left Side Text</th>
									<td><textarea class="form-control" rows="4"	ng-model="mtcvm.myTask.request.leftSideText"></textarea></td>
								</tr>								
								<tr>
									<th>Right Side Text</th>
									<td><textarea class="form-control" rows="4"	ng-model="mtcvm.myTask.request.rightSideText"></textarea></td>
								</tr>
								<tr>
									<th>Top Side Text</th>
									<td><textarea class="form-control" rows="4"	ng-model="mtcvm.myTask.request.topSideText"></textarea></td>
								</tr>								
							</tbody>
						</table>
					</div>
					<div class="panel-footer">
						<a class="btn btn-primary" role="button" ng-click="mtcvm.updateTexts()">Update OCR</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div> 
<ocr-spinner></ocr-spinner>
<footer >
	<div class="col-md-12" id="footer-section">
		<div class="col-md-8">
			<p class="copy-txt">Copyright &copy;SmartOCR</p>
		</div>
		<div class="col-md-4">
			<div class="pull-right">
				<img src="images/ust_logo.png" alt=""
					class="img-responsive ust-logo">
			</div>
		</div>
		</div>
	</footer>
</div>
</body>

